.score-flex{
  display: flex;
  position: absolute;
  left:70%;
  flex-wrap: nowrap;
  flex-direction: column;
  top:55%;
  transform: translateX(-50%) translateY(-50%);
  animation: increaseHeight;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}

.score-heading{
  color: #222;
  position: absolute;
  left:70%;
  top: 10%;
  transform: translateX(-50%);
  font-size: 2.7vw;
  font-weight: 700;
  animation: showHeading;
  white-space: nowrap;
  animation-fill-mode: both;
  animation-delay: 4s;
  animation-duration: 1s;
}

.score-cover{
  background-image: url("../../../assets/images/fin background.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.score-flex-box{
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  //animation: increaseWidth;
  //animation-duration: 0.5s;
  //animation-fill-mode: both;
  animation-delay: 5s;
  height: 16vh;
  animation-timing-function: ease-in;
}

@keyframes increaseWidth {
  0%{
    width: 0px;
    overflow: hidden;
  }
  100%{
    width: 30vw;
    overflow: visible;
  }
}

@keyframes increaseHeight {
  0%{
    width:0;
    overflow: hidden;
    height: 16vh;
  }
  10%{
    width:40vw;
    overflow: hidden;
    height: 16vh;
  }
  90%{
    width:40vw;
    overflow: hidden;
    height: 16vh;
  }
  100%{
    min-width: 40vw;
    overflow-x: visible;
    overflow-y: scroll;
    height: 70vh;
  }
}

@keyframes showHeading {
  0%{
    overflow: hidden;
    width:0;
    display: none;
  }
  100%{
    overflow: visible;
    width:30vh;
    display: none;
  }
}


[class|="confetti"] {
  position: absolute;
}

$colors: (#d13447, #ffbf00, #263672);

@for $i from 0 through 150 {
  $w: random(8);
  $l: random(100);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w*0.4}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l+"%");
    opacity: random() + 0.5;
    transform: rotate(#{random()*360}deg);
    animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l+random(15)+"%");
    }
  }
}