#photo-model{
    background-image: url('../../assets/images/photo.png');
    background-size: 100% 100%;
    position: fixed;
    left: 50%;
    margin-left: -15%;
    top : 15%;
    z-index: 50;
    width: 30%;
    height: 70%;
    .close{
        color: black;
        font-size: 7vh;
        position: relative;
        top : 2%;
        right: -15%;
        path{
            stroke: #dedede ;
            stroke-width: 30px;
        }
    }
    .clue{
        position: absolute;
        top: 7%;
        left: 9%;
        height: 86%;
        width: 81.9%;
        .clue-img{
            width: 100%;
            max-height: 100%;
            object-fit: contain;
            // height: 100%;
            // width: 100%;
        }
    }
}