.rules-box{
  z-index: 1000;
  left: 50%;
  top:50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  height: 80vh;
  width:70vw;
  color: white;
  background-color: rgba(0,0,0,0.9);
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .rules-box,.btn-close-hint{
    font-size: 0.8em!important;
  }
}

.rules-heading{
  font-size: 1.2em;
  font-weight: 500;

}

@media only screen and (min-width: 900px) {
  .rules-box{
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 900px) {
  .rules-box{
    font-size: 0.73em!important;
  }
}

.pem-5{
  padding: 1.2em;
}
.btn-close-hint{
  position: absolute;
  right: 2em;
  bottom: 2em;
}